<div class="chat-top">
  <div class="left-top">
    <div class="group-name">hogefuga</div>
  </div>
  <div class="right-top">
    <div class="delete-room">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>


<div class="chat-middle">
  <div class="chat-content">
    <div class="chat-content-info">
      <div class="chat-user-name">Tom</div>
      <div class="chat-date">2023/04/07(fri) 21:30:00</div>
    </div>
    <div class="chat-content-message">
      <div class="message">おはよう</div>
    </div>
  </div>
  <div class="chat-content">
    <div class="chat-content-info">
      <div class="chat-user-name">Sim</div>
      <div class="chat-date">2023/04/07(fri) 23:30:00</div>
    </div>
    <div class="chat-content-message">
      <div class="message">こんちくは</div>
    </div>
  </div>
  
</div>

<div class="chat-bottom">
  <div class="form-input">
    <input class="form-message" placeholder="type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" value="送信" type="submit">
</div>